.navContainer {
  width: 100%;
  padding: 1.5rem 3.7rem;
}

.navbar {
  min-height: 75px;
  display: flex;
  justify-content: space-between;
}

.branding {
  display: flex;
  align-items: center;
}

.branding > h2 {
  color: var(--blue);
  margin: 12px 8px 0;
}

.userInfo {
  display: flex;
  align-items: center;
  /* margin-right: 1rem; */
  cursor: pointer;
}

.userInfo > h4 {
  margin-top: 3px;
  color: var(--black);
  margin: 12px 8px 0;
}

.userInfo > .avatar {
  margin: 12px 0 0 8px;
}

.chevronDown {
  margin: 8px;
}

.chevronDown > svg {
  margin-top: 1rem;
}

.chevronDown > svg > path {
  stroke: var(--black) !important;
}

.logoutWrap {
  margin-left: 1rem;
}

.logoutWrap > button {
  margin-top: 0.5rem;
  background-color: var(--red);
  color: var(--white);
  outline: none;
  border: none;
  border-radius: 0.28rem;
  padding: 0.5rem;
  font-family: "Josefin Sans", sans-serif;
}

.logoutWrap > button:hover {
  background-color: var(--warning);
  transform: translateY(-1px);
  box-shadow: 0px 4px 4px #00000040;
}

.logoutWrap > button:active {
  transform: translateY(0px);
  box-shadow: none;
}

@media (max-width: 400px) {
  .navContainer {
    width: 100%;
    padding: 1.5rem 2.7rem 0;
  }
  /* .userInfo {
    display: none;
  } */
  .branding {
    width: 100%;
    flex-direction: column;
  }
  .branding > h2 {
    /* display: none; */
    display: block;
    font-size: 0.64rem;
    text-align: center;
  }
  .notAuth {
    margin: 0 auto;
  }
}
