@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400&display=swap");

:root {
  --primary: #f9fafb;
  --light-grey: #cccccc;
  --grey: #777777ca;
  --light-blue: #000ee6ba;
  --light-blue-2: #000fe682;
  --light-blue-3: #434eec;
  --blue: #000ee6;
  --red: #e94e4e;
  --aqua: #59aacd;
  --black: #373737;
  --white: #ffffff;
  --warning: #dc3545;
}

* {
  margin: 0;
  box-sizing: border-box;
}
